.page-title__button {
  width: 350px;
  height: 60px;
  background-color: rgba(0, 0, 0, 0);
  color: #fff;
  font-style: 600;
  font-size: 18px;
  line-height: 30px;
  box-sizing: border-box;
  border: 1px solid #fff;
  border-radius: 10px;
}

.page-title__button:hover {
  opacity: .6;
  cursor: pointer;
}